

    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：文章管理>编辑文章
        </div>
        <div class="pannel">
        <form name = logon  method="post" action="/article/updateArticle" enctype="multipart/form-data" >
            <h3 class="review_title">编辑文章</h3>
            <div class="form_group">
                <label>文章标题：</label>
                <input type="text" class="input_txt2" name = "articleName" value="{{.article.Aname}}">
            </div>
            <div class="form_group">
                <label>文章内容：</label>
                <textarea class="input_multxt" name="content">{{.article.Acontent}}</textarea></textarea>
            </div>
            <div class="form_group">
                <label>上传图片：</label>
                {{if ne .article.Aimg  ""}}
                    <img src="http://127.0.0.1:8080/{{.article.Aimg}}" width="200" height="200">
                {{end}}
                <input type="file" name="uploadname" class="input_file">
            </div>
            <div class="form_group indent_group line_top">
                <input type="submit" value="保存修改" class="confirm">
                <span class="err">{{.errmsg}}</span>
            </div>
            <input name="articleId" value="{{.article.Article.Id}}" hidden="hidden">
            <input name="articleImgPath" value="{{.article.Aimg}}" hidden="hidden">
        </form>
        </div>

    </div>


